@media (max-width: 992px) {
  #Blog-banner-section {
    flex-direction: column;
  }

  #Blog-banner-section article {
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }

  .card-containers {
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55.5%;
  }

  #Blog-banner-section article {
    width: 80%;
  }

  .card-containers {
    width: 58%;
  }

  #archives {
    min-height: auto;
  }

  .blog-post {
    flex-direction: column;
    margin-bottom: 3rem;
    width: 80%;
  }

  #contact-section {
    min-height: auto;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 48.5%;
  }

  header {
    flex-direction: column;
  }

  #menu-icon {
    display: block;
  }

  .hidden {
    display: none;
  }

  nav ul {
    padding: 2.5rem;
  }

  nav li {
    display: block;
    margin-right: 0%;
    margin: 1rem 0;
  }

  #Blog-banner-section {
    min-height: auto;
  }

  #Blog-banner-section article {
    width: 90%;
  }

  .banner-img {
    max-width: 100%;
  }

  #Blog-about {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-containers {
    width: 90%;
  }

  .archives-container-lists {
    flex-wrap: wrap;
  }

  .blog-post {
    flex-direction: column;
    margin-bottom: 3rem;
    width: 90%;
  }

  #contact-form {
    width: 90%;
  }

  .form-contol {
    flex-direction: column;
  }

  .form-contol lable {
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    max-width: 100%;
  }

  footer {
    flex-direction: column;
  }

  #menubar2 {
    display: flex;
  }
}
